@font-face {
  font-family: "iconfont"; /* Project id 1790672 */
  src: url('iconfont.woff2?t=1658283347262') format('woff2'),
       url('iconfont.woff?t=1658283347262') format('woff'),
       url('iconfont.ttf?t=1658283347262') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconxiazai:before {
  content: "\e632";
}

.iconxiazai1:before {
  content: "\e723";
}

.iconjinrujiantou:before {
  content: "\e88e";
}

.iconshipin:before {
  content: "\e66f";
}

.iconyunxiazai-:before {
  content: "\e634";
}

.iconjiahao:before {
  content: "\e84f";
}

.iconxiazai2:before {
  content: "\e609";
}

.iconcangku:before {
  content: "\e623";
}

.iconcangku1:before {
  content: "\e7b9";
}

.iconpiciguanlixianxing:before {
  content: "\e629";
}

.iconzhuisu:before {
  content: "\e7b0";
}

.icontongyong:before {
  content: "\e62f";
}

.iconzhuanye:before {
  content: "\e6b9";
}

.iconshengchan:before {
  content: "\e664";
}

.iconfuzhuang:before {
  content: "\e61c";
}

.iconzhuisu1:before {
  content: "\e60d";
}

.iconjijiangongzi:before {
  content: "\e706";
}

.iconzhuisu2:before {
  content: "\e603";
}

.iconcangku2:before {
  content: "\e660";
}

.icondanjimoshi:before {
  content: "\e6ff";
}

.iconzhizao:before {
  content: "\e648";
}

.icontongyong1:before {
  content: "\e622";
}

.iconguanli:before {
  content: "\e62d";
}

